# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Env
venv/
env/

# Secrets & Configs
.env
config.json
config.local.json
docker-compose.override.yml
*.key
*.pem

# Database
data/*.db
data/*.db-shm
data/*.db-wal

# Logs
*.log

# IDE
.vscode/
.idea/